language: go
go:
  - "1.11.x"
sudo: required
dist: xenial

services:
- docker

jobs:
  include:
  - stage: queue
    # travisqueue.go ensures only a single build runs at a time for console-charts
    name: Queue Build
    script:
    - go run travisqueue.go start

  - stage: Tests
    name: Unit tests
    install:
    - travis_retry scripts/setup-tools-for-ubuntu.sh
    script:
    - make test

  - name: Backend E2E Go Tests - Minikube
    install:
    - travis_retry scripts/setup-tools-for-ubuntu.sh
    script:
    - travis_retry scripts/setup-minikube-for-linux.sh
    - travis_retry make -C enterprise-suite install-helm
    - travis_retry make -C enterprise-suite/gotests setup-tools
    - make -C enterprise-suite/gotests run-tests-minikube NAMESPACE=console-backend-go-tests
    # https://github.com/travis-ci/travis-ci/issues/6018 - Prevent truncated output.
    - sleep 5

  - name: Backend E2E Go Tests - Openshift
    install:
    - travis_retry scripts/setup-tools-for-ubuntu.sh
    script:
    - travis_retry scripts/setup-openshift.sh ${OC_GOTESTS_TOKEN}
    - travis_retry make -C enterprise-suite/gotests setup-tools
    - make -C enterprise-suite/gotests purge-console-openshift NAMESPACE=console-backend-go-tests || true
    - make -C enterprise-suite/gotests run-tests-openshift NAMESPACE=console-backend-go-tests
    - make -C enterprise-suite/gotests purge-console-openshift NAMESPACE=console-backend-go-tests || true
    # https://github.com/travis-ci/travis-ci/issues/6018 - Prevent truncated output.
    - sleep 5

  - name: Frontend E2E Tests 1 - Minikube
    cache:
      directories:
        - ~/.npm
        - ~/.cache
    node_js: 9.4.0
    install:
    - travis_retry scripts/setup-tools-for-ubuntu.sh
    - travis_retry $(curl -sL https://raw.githubusercontent.com/travis-ci/artifacts/master/install | bash)
    script:
    - travis_retry scripts/setup-minikube-for-linux.sh
    - make -C enterprise-suite frontend-tests1
    after_script:
      # Cypress videos.
      - artifacts upload $(find . -name '*.mp4')
      - artifacts upload $(find . -name '*.png')

  - name: Frontend E2E Tests 2 - Minikube
    cache:
      directories:
        - ~/.npm
        - ~/.cache
    node_js: 9.4.0
    install:
    - travis_retry scripts/setup-tools-for-ubuntu.sh
    - travis_retry $(curl -sL https://raw.githubusercontent.com/travis-ci/artifacts/master/install | bash)
    script:
    - travis_retry scripts/setup-minikube-for-linux.sh
    - make -C enterprise-suite frontend-tests2
    after_script:
      # Cypress videos.
      - artifacts upload $(find . -name '*.mp4')
      - artifacts upload $(find . -name '*.png')

  - name: Reactive-sandbox test
    install:
    - travis_retry scripts/setup-tools-for-ubuntu.sh
    script:
    - make test CHARTS=reactive-sandbox

  - name: Console Whitesource Report
    # Only deploy for pushes to master (and if manually invoked)
    if: type IN (push, api)
    install:
    - travis_retry scripts/setup-tools-for-ubuntu.sh
    script:
    - travis_retry scripts/setup-minikube-for-linux.sh
    - travis_retry make -C enterprise-suite install-helm install-dev
    # update whitesource docker image CVE report based on installed docker images
    - travis_retry curl -sLJO https://github.com/whitesource/fs-agent-distribution/raw/master/standAlone/whitesource-fs-agent.jar
    - travis_retry java -jar whitesource-fs-agent.jar -apiKey ${WHITESOURCE_API_KEY} -c enterprise-suite/.ws.conf

  - stage: deploy
    name: Deploy to GCS
    # Only deploy for pushes to master (and if manually invoked)
    if: type IN (push, api)
    install:
    - travis_retry scripts/setup-tools-for-ubuntu.sh
    script:
    # Decrypt credentials for GCS system account helmchart@es-repo.iam.gserviceaccount.com
    - mkdir -p /tmp/resources || travis_terminate 1
    - openssl aes-256-cbc -K $encrypted_f01ffbb90c44_key -iv $encrypted_f01ffbb90c44_iv -in resources/es-repo-7c1fefe17951.json.enc -out /tmp/resources/es-repo-7c1fefe17951.json -d || travis_terminate 1
    - travis_retry scripts/deploy-to-gcs.sh
    - travis_retry scripts/trigger-build-helm-charts.sh

  - stage: afterqueue
    # travisqueue.go ensures only a single build runs at a time for console-charts
    name: Release Build
    script:
    - go run travisqueue.go stop

branches:
  only:
  - master

notifications:
  email: false
  slack:
    rooms:
      secure: AHDrkFweHIHLOY5VFaxgfLQKlARY5b8wM/jN3XGoEzvpECQgFrgUN/KNGUmYDlWJkmxuzr4lNpVKZe6gUgYUBwGbOO7uhLjpcoPJSYj9T2dj1Dddh9hEReDlgP/VCyPKQoPSX/8/ZJF1yq1vSAXC9es1ek4dyJAcEyWmH5uYYM2jslxNm6J64XFAwZKSo2gU98jEMvbGFfjbfdlDIRQJlKmMTpJMxvWJLHZFmLMAXgK2SB3htrS4lasOh775vEqMc4fS/Cmecb/KsVnDcYHUCYT2SZpNzkde8uCTPgB5XdZZf3F7zo1HK7+3a7eygIbWtGTDk9AUisODZLAjPTRDRVDyjSt7pNKbDhipGrYvWgt397WbvlXiDZ8TeOkWJdTf2E7RM5odtJL5ZF0XklnqOQMu2b/ZXlMq4vZTYAbsof5+Nw3Fw00iqCBEUd9J9nvaoQX/86cySWfU1N/NlptIG5hY4ro3tsrvSuIkmyBM6XN3GUFp8OexeNcCtaW40XO0qnzpbYv4be7Be6yG6fPhewO+5pOIM4mL8V+ryORAzK29MIU0L+9/gChmTxZ4YmUbksYYp1ifUlAmSnJAZcMXIy2DhqrWs9pszLKeGC4dzOxmNNzWGYnL1l2X137wRC0mfKK84Bxs1RiaToxWUQO88FXffI8c8xF7m/+Zir6vMq8=
    on_success: change
    on_failure: always
    on_pull_requests: false
    template:
    - "Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository_slug}@%{branch} by %{author} %{result} in %{elapsed_time}"
