language: go
sudo: required
dist: xenial

services:
- docker

install: scripts/setup-tools-for-ubuntu.sh

jobs:
  include:
  - stage: Tests
    name: Validate
    script:
    - make lint
  - name: Minikube
    script:
    - scripts/setup-minikube-for-linux.sh
    - make test CHARTS=enterprise-suite
  - name: Minikube - Latest
    script:
    - scripts/setup-minikube-for-linux.sh
    - make test CHARTS=enterprise-suite-latest
  - name: Minikube - Frontend
    script:
    - scripts/setup-minikube-for-linux.sh
    - make test CHARTS=enterprise-suite-latest ES_TEST=frontend
  - name: Reactive-sandbox test
    script:
    - make test CHARTS=reactive-sandbox
  - stage: deploy
    name: Deploy to GCS
    # Only deploy for pushes to master (and if manually invoked)
    if: type IN (push, api)
    script:
    # Decrypt credentials for GCS system account helmchart@es-repo.iam.gserviceaccount.com
    - openssl aes-256-cbc -K $encrypted_f01ffbb90c44_key -iv $encrypted_f01ffbb90c44_iv -in resources/es-repo-7c1fefe17951.json.enc -out resources/es-repo-7c1fefe17951.json -d
    - scripts/deploy-to-gcs.sh

branches:
  only:
  - master

notifications:
  email: false
  slack:
    secure: Wbp33+rhtKSkDQsoBq33b3/WFk7/vzoKNqVoGhjFyXtBTE/mP/C7ZvGDxSWVLhbKTqCzlXpp3BlO9/g2PJa3GafssYr+ZRxYzkyXqQnjIUTFylSqKZky729LTtE8eBfreyjX1JZgVu0++kQTkUsQCjBEW0dhZsVSnd8QAQwQQigxue9/wPiZABOuoaZ4UCPoE7EzhRH86MO3RhRdfIMSOwj94cPf95NtN292jmOEsTCayc+CVfJ77wbbANAvqX2kBaBQTgREUk/0guR8bVTO8YxExuYkNEeQZRKa8TLjP9A3Gkd/JED6R3FLLw7EcT9J62zWLTKZqRKCb+Nhc01uy67/m21bVlHfphPgNAy3rU27lmVqzS0NCyiqix8uenoewjFYYbR8+3nTO+kuqeP/lRUmmINkzornICtx+POP+mGOSE4llmplZIhJKWBN1x/OtY9XvIXd1WcZtWnk310zurCN+0qjBIewjs4a28ZcZdB8e/si+Cx5YT2UvXgYZipjM3CX29AaPaCGsuGdjQJN/OFzYbwiJbvfI/O9OEl32aMfu1w4P3WtLNVT2eW6Kdu0HJaRKvtSwzKBmYP8b5xdTQemsG2R97rPN1uTOwVWwviOQgg/pycIxjNawMf6s+5I7CK3zO3QjwrfWSq7d8Nm2qC5J+82+rQSZ6YDr3wJliI=
