#################################################
# Update these versions for a release.
#
# lightbend-docker-registry.bintray.io/enterprise-suite/es-console
esConsoleVersion: v0.0.14
# lightbend-docker-registry.bintray.io/enterprise-suite/es-monitor-api
esMonitorVersion: v0.0.18
# lightbend-docker-registry.bintray.io/enterprise-suite/es-grafana
esGrafanaVersion: v0.0.14
# prom/prometheus
prometheusVersion: v2.2.1
# prom/alertmanager
alertManagerVersion: v0.15.1
# jimmidyson/configmap-reload
configMapReloadVersion: v0.2.2

#################################################
# Settings
#
# default image pull  policy
imagePullPolicy: IfNotPresent
# prometheus annotation domain, e.g. `domain/scrape=true`
prometheusDomain: prometheus.io
# minikube debug resources
minikube: true
# expose-es-console
exposeConsoleService: false