#################################################
# Update these versions for a release.
#
# lightbend-docker-commercial-registry.bintray.io/enterprise-suite/es-console
esConsoleVersion: v0.1.5
# lightbend-docker-commercial-registry.bintray.io/enterprise-suite/es-monitor-api
esMonitorVersion: v0.1.1
# lightbend-docker-commercial-registry.bintray.io/enterprise-suite/es-grafana
esGrafanaVersion: v0.1.1
# prom/prometheus
prometheusVersion: v2.2.1
# prom/alertmanager
alertManagerVersion: v0.15.1
# jimmidyson/configmap-reload
configMapReloadVersion: v0.2.2
# gcr.io/google_containers/kube-state-metrics
kubeStateMetricsVersion: v1.2.0
# prom/node-exporter
nodeExporterVersion: v0.15.2


#################################################
# Settings
#
# default image pull  policy
imagePullPolicy: IfNotPresent
# prometheus annotation domain, e.g. `domain/scrape=true`
prometheusDomain: prometheus.io
# minikube debug resources
minikube: false
# Run pods as the given UID. There is no sensible default for this, so customers need to provide it.
podUID:
# Commercial image credentials - set `username` and `password` to install as Kubernetes Secret.
imageCredentials:
  registry: lightbend-docker-commercial-registry.bintray.io
#  username: setme
#  password: setme
# Alertmanager ConfigMap. Set to the name of a ConfigMap, with a file `alertmanager.yml`.
alertManagerConfigMap: alertmanager-default

#################################################
# ResourceRequests
#
# default container resource requests for CPU (0.1)
defaultCPURequest: 100m
# default container resource requests for memory
defaultMemoryRequest: 50Mi
# Prometheus resource request for memory
prometheusMemoryRequest: 250Mi
