#################################################
# Update these versions for a release.
#
# lightbend-docker-commercial-registry.bintray.io/enterprise-suite/es-console
esConsoleVersion: v0.1.7
# lightbend-docker-commercial-registry.bintray.io/enterprise-suite/es-monitor-api
esMonitorVersion: v0.2.0
# lightbend-docker-commercial-registry.bintray.io/enterprise-suite/es-grafana
esGrafanaVersion: v0.1.4
# prom/prometheus
prometheusVersion: v2.2.1
# prom/alertmanager
alertManagerVersion: v0.15.1
# jimmidyson/configmap-reload
configMapReloadVersion: v0.2.2
# gcr.io/google_containers/kube-state-metrics
kubeStateMetricsVersion: v1.2.0
# prom/node-exporter
nodeExporterVersion: v0.15.2
# janeczku/go-dnsmasq
goDnsmasqVersion: release-1.0.7
# alpine
alpineVersion: 3.8
# busybox
busyboxVersion: 1.29

#################################################
# Image names to use. Combined with the versions above, gives the fully qualified docker image name.
#
# es-console image
esConsoleImage: '{{ .Values.imageCredentials.registry }}/enterprise-suite/es-console'
# es-monitor-api image
esMonitorImage: '{{ .Values.imageCredentials.registry }}/enterprise-suite/es-monitor-api'
# es-grafana image
esGrafanaImage: '{{ .Values.imageCredentials.registry }}/enterprise-suite/es-grafana'
# prometheus image
prometheusImage: prom/prometheus
# alertmanager image
alertManagerImage: prom/alertmanager
# configmap-reload image
configMapReloadImage: jimmidyson/configmap-reload
# kube-state-metrics image
kubeStateMetricsImage: gcr.io/google_containers/kube-state-metrics
# node-exporter image
nodeExporterImage: prom/node-exporter
# go-dnsmasq image
goDnsmasqImage: janeczku/go-dnsmasq
# alpine image
alpineImage: alpine
# busybox image
busyboxImage: busybox

#################################################
# Kubernetes Api Versions
#
rbacApiVersion: rbac.authorization.k8s.io/v1
apiGroupVersion: rbac.authorization.k8s.io
deploymentApiVersion: apps/v1beta2
daemonSetApiVersion: apps/v1beta2

#################################################
# Settings
#
# default image pull  policy
imagePullPolicy: IfNotPresent
# prometheus annotation domain, e.g. `domain/scrape=true`
prometheusDomain: prometheus.io
# minikube debug resources
minikube: false
# Run pods as the given UID. There is no sensible default for this, so customers need to provide it.
podUID:
# Commercial image credentials - set `username` and `password` to install as Kubernetes Secret.
imageCredentials:
  registry: lightbend-docker-commercial-registry.bintray.io
#  username: setme
#  password: setme

# Alertmanager ConfigMap. Set to the name of a ConfigMap, with a file `alertmanager.yml`.
alertManagerConfigMap: alertmanager-default


#################################################
# RBAC
#
# Create ClusterRoles for RBAC, used by Prometheus for service discovery and kube-state-metrics. Set to false if creating additional Lightbend Consoles in the same cluster, as this is a shared resource.
createClusterRoles: true

#################################################
# ResourceRequests
#
# default container resource requests for CPU (0.1)
defaultCPURequest: 100m
# default container resource requests for memory
defaultMemoryRequest: 50Mi
# Prometheus resource request for memory
prometheusMemoryRequest: 250Mi

#################################################
# Persistent Volumes
#
# Deprecated value - set to false to disable emptyDir and use persistent volumes. Prefer `usePersistentVolumes`.
useEmptyDirVolumes: true
# Set to true to use persistent volumes, otherwise emptyDir volumes are used.
usePersistentVolumes: false
# If true, the chart creates persistent volumes using PVCs. Set to false to reuse previously created persistent volumes.
createPersistentVolumes: true
# Default StorageClass to use for persistent volumes
defaultStorageClass: standard
# Prometheus volume size - used for storing metrics data.
prometheusVolumeSize: 256Gi
# Alertmanager volume size - used for storing silences.
alertmanagerVolumeSize: 32Gi
# Grafana volume size - used for storing users, custom dashboards, and plugins.
esGrafanaVolumeSize: 32Gi
