{{ if not .Values.useEmptyDirVolumes }}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: alertmanager-storage
spec:
  storageClassName: {{ default .Values.defaultStorageClass .Values.esAlertmanagerStorageClass }}
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.alertmanagerVolumeSize }}
{{ end }}

---
apiVersion: {{ .Values.deploymentApiVersion }}
kind: Deployment
metadata:
  labels:
    app: prometheus
    component: alertmanager
  name: prometheus-alertmanager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
      component: alertmanager
  template:
    metadata:
      labels:
        app: prometheus
        component: alertmanager
    spec:
      {{ if .Values.podUID }}
      securityContext:
        runAsUser: {{ .Values.podUID }}
      {{ end }}
      serviceAccountName: default
      containers:
        - name: prometheus-alertmanager
          image: prom/alertmanager:{{ .Values.alertManagerVersion }}
          resources:
            requests:
              cpu: {{ default .Values.defaultCPURequest .Values.alertManagerCPURequest }}
              memory: {{ default .Values.defaultMemoryRequest .Values.alertManagerMemoryRequest }}
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          args:
            - --config.file=/etc/config/alertmanager.yml
            - --storage.path=/data
            - --cluster.listen-address=$(POD_IP):6783

          ports:
            - containerPort: 9093
          readinessProbe:
            httpGet:
              path: /-/ready
              port: 9093
            timeoutSeconds: 30
          livenessProbe:
            httpGet:
              path: /-/healthy
              port: 9093
            timeoutSeconds: 30
            initialDelaySeconds: 30

          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
            - name: data-volume
              mountPath: /data

        - name: prometheus-alertmanager-configmap-reload
          image: jimmidyson/configmap-reload:{{ .Values.configMapReloadVersion }}
          resources:
            requests:
              cpu: {{ default .Values.defaultCPURequest .Values.configmapReloadCPURequest }}
              memory: {{ default .Values.defaultMemoryRequest .Values.configmapReloadMemoryRequest }}
          args:
            - --volume-dir=/etc/config
            - --webhook-url=http://localhost:9093/-/reload
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
              readOnly: true

      volumes:
        - name: config-volume
          configMap:
            name: {{ .Values.alertManagerConfigMap }}
        - name: data-volume
          {{ if .Values.useEmptyDirVolumes }}
          emptyDir: {}
          {{ else }}
          persistentVolumeClaim:
            claimName: alertmanager-storage
          {{ end }}

{{ if .Values.minikube }}
---
apiVersion: v1
kind: Service
metadata:
  name: expose-alertmanager
spec:
  ports:
  - port: 9093
    protocol: TCP
    targetPort: 9093
    nodePort: 30093
  selector:
    app: prometheus
    component: alertmanager
  type: NodePort
{{ end }}

---
apiVersion: v1
kind: Service
metadata:
  name: alertmanager
spec:
  ports:
  - name: http
    port: 9093
    targetPort: 9093
  selector:
    app: prometheus
    component: alertmanager
  type: ClusterIP

---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: prometheus
    component: alertmanager
  name: alertmanager-default
data:
{{ (.Files.Glob "alertmanager/*").AsConfig | indent 2}}
