apiVersion: {{ .Values.coreApiVersion }}
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: {{ template "name" . }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: console-backend
  name: console-api-default-monitors
data:
{{ (.Files.Glob "console-api/default-monitors.json").AsConfig | indent 2 }}
