---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus-server
rules:
- apiGroups: [""]
  resources:
  - nodes
  - nodes/proxy
  - services
  - endpoints
  - pods
  verbs: ["get", "list", "watch"]
- apiGroups:
  - extensions
  resources:
  - ingresses
  verbs: ["get", "list", "watch"]
- nonResourceURLs: ["/metrics"]
  verbs: ["get"]

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus-server

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus-server
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: prometheus-server
subjects:
- kind: ServiceAccount
  name: prometheus-server
  namespace: {{.Release.Namespace}}

---
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  labels:
    app: prometheus
    component: server
  name: prometheus-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
      component: server
  template:
    metadata:
      labels:
        app: prometheus
        component: server
    spec:
      serviceAccountName: prometheus-server
      containers:
        - name: es-monitor-api
          image: lightbend-docker-registry.bintray.io/enterprise-suite/es-monitor-api:{{ .Values.esMonitorVersion }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          args:
            - --rulesPath=/etc/rules/
            - --storagePath=/monitor-data/
            - --staticConfig=/etc/es-monitor-api/static-rules.yml
            - --bootstrapMonitorsFile=/etc/es-monitor-api/bootstrap-monitors.json
          volumeMounts:
            - name: rules-volume
              mountPath: /etc/rules
            - name: es-monitor-api-volume
              mountPath: /etc/es-monitor-api
            - name: monitor-data-volume
              mountPath: /monitor-data
          ports:
            - containerPort: 8180
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /status
              port: 8180
              scheme: HTTP
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /status
              port: 8180
              scheme: HTTP
            initialDelaySeconds: 30

        - name: prometheus-server-configmap-reload
          image: jimmidyson/configmap-reload:{{ .Values.configMapReloadVersion }}
          args:
            - -volume-dir=/etc/config
            - -volume-dir=/etc/rules
            - -webhook-url=http://localhost:9090/-/reload
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
              readOnly: true
            - name: rules-volume
              mountPath: /etc/rules
              readOnly: true

        - name: prometheus-server
          image: prom/prometheus:{{ .Values.prometheusVersion }}
          args:
            - --config.file=/etc/config/prometheus.yml
            - --web.console.libraries=/etc/prometheus/console_libraries
            - --web.console.templates=/etc/prometheus/consoles
            - --web.enable-lifecycle
          ports:
            - containerPort: 9090
          readinessProbe:
            httpGet:
              path: /-/ready
              port: 9090
            timeoutSeconds: 30
          livenessProbe:
            httpGet:
              path: /-/healthy
              port: 9090
            timeoutSeconds: 30
            initialDelaySeconds: 30
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
            - name: rules-volume
              mountPath: /etc/rules
              readOnly: true

      terminationGracePeriodSeconds: 300
      volumes:
        - name: rules-volume
          emptyDir: {}
        - name: config-volume
          configMap:
            name: prometheus-server
        - name: es-monitor-api-volume
          configMap:
            name: es-monitor-api
        - name: monitor-data-volume
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-server
spec:
  ports:
    - port: 80
      targetPort: 9090
  selector:
    app: prometheus
    component: server

---
apiVersion: v1
kind: Service
metadata:
  name: es-monitor-api
spec:
  ports:
    - port: 80
      targetPort: 8180
  selector:
    app: prometheus
    component: server

---
apiVersion: v1
kind: Service
metadata:
  name: expose-prometheus
spec:
  ports:
  - port: 9090
    protocol: TCP
    targetPort: 9090
    nodePort: 30090
  selector:
    app: prometheus
    component: server
  type: NodePort

---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: prometheus
    component: server
  name: prometheus-server
data:
{{ (tpl (.Files.Glob "prometheus-server/*").AsConfig .) | indent 2 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: prometheus
    component: server
  name: es-monitor-api
data:
{{ (.Files.Glob "es-monitor-api/*").AsConfig | indent 2 }}
