{{- $shouldCreatePVCs := and (or .Values.usePersistentVolumes (not .Values.useEmptyDirVolumes)) (.Values.createPersistentVolumes) }}

# The following crazyness simply adds the port suffix to each service in a list and
# joins them into a string with commas. Argument is a tuple (list, port). Eg.:
#
# test:
#   - service-00
#   - service-01
# {{ tuple .Values.test "9000" | include "serviceList" }}
#
# Evaluates to:
# service-00:9000,service-01:9000
{{- define "serviceList" -}}
{{- $suffix := index . 1 -}}
{{- $local := dict "first" true -}}
{{- range $k, $v := index . 0 -}}{{- if not $local.first -}},{{- end -}}{{- $v -}}:{{- $suffix -}}{{- $_ := set $local "first" false -}}{{- end -}}
{{- end -}}

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus-server

---
apiVersion: {{ .Values.rbacApiVersion }}
kind: ClusterRole
metadata:
  name: {{.Release.Namespace}}:prometheus-server
rules:
- apiGroups: [""]
  resources:
  - nodes
  - nodes/proxy
  - services
  - endpoints
  - pods
  verbs: ["get", "list", "watch"]
- apiGroups:
  - extensions
  resources:
  - ingresses
  verbs: ["get", "list", "watch"]
- nonResourceURLs: ["/metrics"]
  verbs: ["get"]
---
apiVersion: {{ .Values.rbacApiVersion }}
kind: ClusterRoleBinding
metadata:
  name: {{.Release.Namespace}}:prometheus-server
roleRef:
  apiGroup: {{ .Values.apiGroupVersion }}
  kind: ClusterRole
  name: {{.Release.Namespace}}:prometheus-server
subjects:
- kind: ServiceAccount
  name: prometheus-server
  namespace: {{.Release.Namespace}}

---
{{ if $shouldCreatePVCs }}
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: prometheus-storage
  annotations:
    "helm.sh/resource-policy": keep
spec:
  storageClassName: {{ default .Values.defaultStorageClass .Values.prometheusStorageClass }}
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.prometheusVolumeSize }}
{{ end }}
---
kind: Deployment
apiVersion: {{ .Values.deploymentApiVersion }}
metadata:
  labels:
    app: prometheus
    component: server
  name: prometheus-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
      component: server
  template:
    metadata:
      labels:
        app: prometheus
        component: server
      annotations:
        {{ .Values.prometheusDomain }}/scrape: "true"
        {{ .Values.prometheusDomain }}/port: "9090"
    spec:
      serviceAccountName: prometheus-server

      securityContext:
      {{ if .Values.podUID }}
        runAsUser: {{ .Values.podUID }}
      {{ end }}

      initContainers:
        - name: setup
          image: {{ .Values.alpineImage }}:{{ .Values.alpineVersion }}
          resources:
            requests:
              cpu: {{ default .Values.defaultCPURequest }}
              memory: {{ default .Values.defaultMemoryRequest }}
          command:
            - /bin/sh
            - -c
          args:
            - mkdir -p /etc/config/rules;
              cp /etc/bare/prometheus.yml /etc/config/
          volumeMounts:
            - mountPath: /etc/config
              name: config-volume
            - mountPath: /etc/bare
              name: bare-prometheus

        # For vanilla K8s clusters, we need to match prometheus-data permissions to the prometheus user.
        # In prometheus 2.x, this is `65534`.
        # For Openshift the below will fail, but we can safely ignore it as Openshift remaps the user itself.
        - name: change-prometheus-data-volume-ownership
          image: {{ .Values.busyboxImage }}:{{ .Values.busyboxVersion }}
          command:
            - sh
            - -c
            - "chown -Rc 65534:65534 /data || true"
          volumeMounts:
            - name: prometheus-data-volume
              mountPath: /data
              subPath: prometheus-data

      imagePullSecrets:
        - name: commercial-credentials

      containers:
        - name: es-monitor-api
          image: {{ tpl .Values.esMonitorImage . }}:{{ .Values.esMonitorVersion }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          resources:
            requests:
              cpu: {{ default .Values.defaultCPURequest .Values.esMonitorCPURequest }}
              memory: {{ default .Values.defaultMemoryRequest .Values.esMonitorMemoryRequest }}
          args:
            - --configPath=/etc/config/
            - --storagePath=/monitor-data/
            - --staticConfig=/etc/es-monitor-api/static-rules.yml
            - --defaultMonitorsFile=/etc/es-monitor-api/default-monitors.json
            - --prometheusTemplate=/etc/es-monitor-api/prometheus.yml
            - --prometheusDomain={{ .Values.prometheusDomain }}
            {{- if .Values.createAlertManager}}
            - --alertmanagers=alertmanager:{{ .Values.alertManagerPort }}
            {{ else }}
            - --alertmanagers={{ tuple .Values.alertManagers .Values.alertManagerPort | include "serviceList" }}
            {{ end }}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
            - name: es-monitor-api-volume
              mountPath: /etc/es-monitor-api
            - name: prometheus-data-volume
              mountPath: /monitor-data
              subPath: monitor-data
          ports:
            - containerPort: 8180
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /status
              port: 8180
              scheme: HTTP
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /status
              port: 8180
              scheme: HTTP
            initialDelaySeconds: 30

        - name: es-monitor-api-configmap-reload
          image: {{ .Values.configMapReloadImage }}:{{ .Values.configMapReloadVersion }}
          resources:
            requests:
              cpu: {{ default .Values.defaultCPURequest .Values.configmapReloadCPURequest }}
              memory: {{ default .Values.defaultMemoryRequest .Values.configmapReloadMemoryRequest }}
          args:
          - --volume-dir=/etc/es-monitor-api
          - --webhook-url=http://127.0.0.1:8180/reload
          volumeMounts:
          - name: es-monitor-api-volume
            mountPath: /etc/es-monitor-api

        - name: prometheus-server
          image: {{ .Values.prometheusImage }}:{{ .Values.prometheusVersion }}

          resources:
            requests:
              cpu: {{ default .Values.defaultCPURequest .Values.prometheusCPURequest }}
              memory: {{ default .Values.defaultMemoryRequest .Values.prometheusMemoryRequest }}

          args:
            - --config.file=/etc/config/prometheus.yml
            - --storage.tsdb.path=/data
            - --web.console.libraries=/etc/prometheus/console_libraries
            - --web.console.templates=/etc/prometheus/consoles
            - --web.enable-lifecycle

          ports:
            - containerPort: 9090

          readinessProbe:
            httpGet:
              path: /-/ready
              port: 9090
            timeoutSeconds: 30

          livenessProbe:
            httpGet:
              path: /-/healthy
              port: 9090
            timeoutSeconds: 30
            initialDelaySeconds: 30

          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
              readOnly: true
            - name: prometheus-data-volume
              mountPath: /data
              subPath: prometheus-data

      terminationGracePeriodSeconds: 300
      volumes:
        - name: config-volume
          emptyDir: {}
        - name: es-monitor-api-volume
          configMap:
            name: es-monitor-api
        - name: prometheus-data-volume
          {{ if or .Values.usePersistentVolumes (not .Values.useEmptyDirVolumes) }}
          persistentVolumeClaim:
            claimName: prometheus-storage
          {{ else }}
          emptyDir: {}
          {{ end }}
        - name: bare-prometheus
          configMap:
            name: bare-prometheus

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-server
spec:
  ports:
    - name: http
      port: 80
      targetPort: 9090
  selector:
    app: prometheus
    component: server

---
apiVersion: v1
kind: Service
metadata:
  name: es-monitor-api
spec:
  ports:
    - name: http
      port: 80
      targetPort: 8180
  selector:
    app: prometheus
    component: server

---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: prometheus
    component: server
  name: bare-prometheus
data:
  prometheus.yml: |-
    # this is a placeholder to keep prometheus running while it awaits the real config
    global:
      scrape_interval:     99m
      evaluation_interval: 99m
    scrape_configs:
      - job_name: wait
        static_configs:
          - targets: ['localhost:9090']
        metric_relabel_configs:
        - source_labels: [__name__]
          regex: .+
          action: drop

---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: prometheus
    component: server
  name: es-monitor-api
data:
{{ (.Files.Glob "es-monitor-api/*").AsConfig | indent 2 }}
