---
apiVersion: app.lightbend.com/v1alpha1
kind: Console
metadata:
  name: example-console
  namespace: lightbend
spec:
  alertManagers: null
  alpineImage: alpine
  alpineVersion: "3.8"
  apiGroupVersion: rbac.authorization.k8s.io
  busyboxImage: busybox
  busyboxVersion: "1.30"
  configMapReloadImage: jimmidyson/configmap-reload
  configMapReloadVersion: v0.2.2
  consoleAPI:
    defaultMonitorWarmup: 1m
    defaultMonitorsConfigMap: console-api-default-monitors
    staticRulesConfigMap: console-api-static-rules
  consoleUIConfig:
    isMonitorEditEnabled: false
    logo: ""
  daemonSetApiVersion: apps/v1beta2
  defaultCPURequest: 100m
  defaultMemoryRequest: 50Mi
  deploymentApiVersion: apps/v1beta2
  elasticsearchImage: elasticsearch
  elasticsearchMemoryRequest: 510Mi
  elasticsearchVersion: 7.3.2
  enableElasticsearch: false
  esConsoleExposePort: 30080
  esConsoleImage: '{{ .Values.imageCredentials.registry }}/enterprise-suite/es-console'
  esConsoleVersion: v1.4.1
  esGrafanaEnvVars: null
  esGrafanaImage: '{{ .Values.imageCredentials.registry }}/enterprise-suite/es-grafana'
  esGrafanaVersion: v0.3.2
  esGrafanaVolumeSize: 32Gi
  esMonitorImage: '{{ .Values.imageCredentials.registry }}/enterprise-suite/console-api'
  esMonitorVersion: v1.2.4
  exposeServices: false
  goDnsmasqImage: lightbend-docker-registry.bintray.io/lightbend/go-dnsmasq
  goDnsmasqVersion: v0.1.7-1
  imageCredentials:
    password: setme
    registry: lightbend-docker-commercial-registry.bintray.io
    username: setme
  imagePullPolicy: IfNotPresent
  kibanaImage: kibana
  kubeStateMetricsImage: gcr.io/google_containers/kube-state-metrics
  kubeStateMetricsScrapeNamespaces: ""
  kubeStateMetricsVersion: v1.3.0
  logstashImage: logstash
  minikube: false
  podUID: null
  prometheusDomain: prometheus.io
  prometheusImage: prom/prometheus
  prometheusMemoryRequest: 250Mi
  prometheusVersion: v2.9.2
  prometheusVolumeSize: 256Gi
  rbacApiVersion: rbac.authorization.k8s.io/v1
  usePersistentVolumes: true
