---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: console-operator
  namespace: lightbend
spec:
  replicas: 1
  selector:
    matchLabels:
      name: console-operator
  template:
    metadata:
      labels:
        name: console-operator
    spec:
      containers:
      - env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: console-operator
        image: REPLACE_IMAGE
        imagePullPolicy: Always
        name: console-operator
      serviceAccountName: console-operator
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: console-operator
  namespace: lightbend
